{% extends 'dashboard/controlpanel.html.twig' %}
{% block body %}
<h2>Responder Ticket: {{ticket.titulo}} | ID: {{ticket.id}}</h2>
{{ form_start(form) }}
{{ form_row(form.titulo, {'label': 'Encabezado:'})}}
{{ form_row(form.respuesta, {'label': 'Respuesta:'})}}
<h3>Acerca del ticket:</h3>
{{ form_row(form.prioridad, {'label': 'Prioridad:'})}}
{{ form_row(form.estado, {'label': 'Estado:'})}}
{{ form_end(form) }}
{% endblock %}
