{% extends 'controlpanel.html.twig' %}
{% block body %} <h1 style='margin-top:20px'>Lista de Tickets</h1>
{% block table %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Titulo</th>
      <th scope="col">Fecha</th>
      <th scope="col">Estado</th>
      <th scope="col">Prioridad</th>
      <th scope="col">Usuario</th>
      <th scope="col">Accion</th>
    </tr>
  </thead>
  <tbody>
    <tr>

          {% for user in users %}

      <th scope="row">{{user.id}}</th>
      <td>{{user.titulo}}</td>
      <td>{{user.fecha|date('d/m/y')}}</td>
      <td>{{user.estado}}</td>
      <td>{{user.prioridad}}</td>
      <td>{{user.username}}</td>
      <td><a href="/test/details/{{user.id}}" class="btn btn-success">Detalles</a>
        <a href="/test/edit/{{user.id}}" class="btn btn-default">Editar</a>
        <a href="/test/delete/{{user.id}}" class="btn btn-danger">Borrar</a>
      </td>
    </tr>

      {% endfor %}
  </tbody>
</table>
{% endblock %}
{% endblock %}
