{% extends 'dashboard/controlpanel.html.twig' %}
{% block body %}
<h1>Lista de tickets según categoría</h1>
<h2>Presione buscar para obtener una lista según la categoría</h2>
{{form_start(form)}}
<table>
  <thead>
    <th scope="col">{{form_row(form.Categoria)}}</th>
    <th scope="col">{{form_row(form.Buscar)}}</th>
  </thead>
</table>
{{form_end(form)}}

<table class="table" style="margin-top:25px">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Titulo</th>
      <th scope="col">Fecha</th>
      <th scope="col">Estado</th>
      <th scope="col">Prioridad</th>

      <th scope="col">Accion</th>
    </tr>
  </thead>
  <tbody>
    <tr>

          {% for t in ticket %}

      <th scope="row">{{t.id}}</th>
      <td>{{t.titulo}}</td>
      <td>{{t.fecha|date('d/m/y')}}</td>
      <td>{{t.estado}}</td>
      <td>{{t.prioridad}}</td>
      <td><a href="{{ path('detalles', {'id': t.id}) }}" class="btn btn-success">Detalles</a>
        <a href="{{ path('editar', {'id': t.id}) }}" class="btn btn-default">Editar</a>
        <a href="{{ path('borrar', {'id': t.id}) }}" class="btn btn-danger">Borrar</a>
      </td>
    </tr>

      {% endfor %}
  </tbody>
</table>
{% endblock %}
